.priority-header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.first{
    /* border: 1px solid black; */
    display: flex;
    h3{
        font-size: 14px;
        font-weight: 600;
        padding-left: 5px;
        
    }
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        padding-left: 5px;
    }
}

